In [1]:
#importing variables
import pandas as pd
import numpy as np
import datetime as dt
import pandas_datareader as pdr
import matplotlib.dates as mpl_dates
import seaborn as sns
import matplotlib.pyplot as plt
import math
from openpyxl import load_workbook

In [2]:
import pandas as pd
from collections import namedtuple


tickers = []

with open( r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\tickers.txt') as f: 
    
    for line in f:
        l = line.rstrip('\n') 
        tickers.append(l)
        
            
df = pd.DataFrame({'ticker': tickers})
df['tickers'] = df['ticker'].str.split(',').str[0]
df.head(5)

                                              ticker     tickers
0                            ACT Symbol,Company Name  ACT Symbol
1        A,"Agilent Technologies, Inc. Common Stock"           A
2                         AA,Alcoa Inc. Common Stock          AA
3  AA$B,Alcoa Inc. Depository Shares Representing...        AA$B
4              AAC,"AAC Holdings, Inc. Common Stock"         AAC

In [3]:
ticker_list = df['tickers'].tolist()

In [4]:
lower = [x.lower() for x in ticker_list]
import pandas as pd
import re
from collections import namedtuple

good=[]
bad = []
file = open(r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\a.txt', encoding="utf8")

for line in file:
    l = line.rstrip('\n') 
    ticker = l.split(' ', 1)[0]

    if (ticker in ticker_list or ticker in lower or re.match( r'\b[A-Z]{3}\b', ticker) or re.match( r'\b[A-Z]{2}\b', ticker) 
                            or re.match( r'\b[A-Z]{4}\b', ticker) or re.match( r'\b[A-Z]{5}\b', ticker)):

        print (ticker + ' is a ticker')
        good.append(l)

    else:       
        bad.append(l)

BBBY is a ticker
BBBY is a ticker
INTC is a ticker
INTC is a ticker
GGB is a ticker
GGB is a ticker
WMT is a ticker
WMT is a ticker
IGT is a ticker
IGT is a ticker
WKHS is a ticker
WKHS is a ticker
GOGO is a ticker
GOGO is a ticker
NEE is a ticker
NEE is a ticker
FTEK is a ticker
FTEK is a ticker
WATT is a ticker
WATT is a ticker
VERU is a ticker
VERU is a ticker
TGT is a ticker
TGT is a ticker
KR is a ticker
KR is a ticker
UMC is a ticker
UMC is a ticker
FAST is a ticker
FAST is a ticker
MAC is a ticker
MAC is a ticker
JD is a ticker
JD is a ticker
SPWR is a ticker
SPWR is a ticker
F is a ticker
F is a ticker
XL is a ticker
XL is a ticker
FUBO is a ticker
FUBO is a ticker
AMC is a ticker
AMC is a ticker
XSPA is a ticker
XSPA is a ticker
ATVI. is a ticker

In [5]:
import pandas as pd
import re
from collections import namedtuple

Item = namedtuple('Item', 'state area')
items = []
resistance2 = []
resistance1 = []
support1 = []
support2 = []
badder = []

file = open(r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\b.txt', encoding="utf8")
# with open(file) as f: 
for line in file:
    l = line.rstrip('\n') 
    ticker = l.split(' ', 1)[0]

    if (ticker in ticker_list or re.match( r'\b[A-Z]{3}\b', ticker) or re.match( r'\b[A-Z]{2}\b', ticker) 
                            or re.match( r'\b[A-Z]{4}\b', ticker) or re.match( r'\b[A-Z]{5}\b', ticker)):


        next(file)
        next(file)

        res2 = next(file).rstrip('\n')
        if (50 > len(ticker + ' ' + res2) > 5) and res2.startswith('!') == False and '/' not in res2:
            resistance2.append(ticker + ' ' + res2)

        next(file)

        res1 = next(file).rstrip('\n')
        if (len(ticker + ' ' + res1) > 5) and res1.startswith('!') == False and '/' not in res1:
            resistance1.append(ticker + ' ' + res1)

        next(file)
        next(file)
        next(file)
        supp1 = (next(file)).rstrip('\n')
        if (len(ticker + ' ' + supp1) > 5) and supp1.startswith('!') == False and '/' not in supp1:
            support1.append(ticker + ' ' + supp1)

        next(file)

        supp2 = next(file).rstrip('\n')
        if (len(ticker + ' ' + supp2) > 5) and supp2.startswith('!') == False and '/' not in supp2:
            support2.append(ticker + ' ' + supp2)
        try:
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
            next (file)
        except:
            continue
    else:       
        badder.append(l)

In [6]:
mid = pd.DataFrame(resistance2, columns = ['whole'])
mid[['Ticker','Hard Resistance']] = mid.whole.str.split(expand=True) 
mid.drop(columns = 'whole',inplace=True)
mid.head(5)

  Ticker Hard Resistance
0   BBBY           59.59
1   INTC           59.05
2    GGB            4.85
3    WMT          148.86
4    WMT          148.86

In [7]:
mid2 = pd.DataFrame(support2, columns = ['whole'])
mid2[['Ticker','Strong Support']] = mid2.whole.str.split(expand=True) 
mid2.drop(columns = 'whole',inplace=True)
mid2.head(5)

  Ticker Strong Support
0   BBBY          24.75
1   INTC          54.17
2    GGB           4.39
3    WMT         144.90
4    WMT         144.90

In [8]:
mid3 = pd.DataFrame(resistance1, columns = ['whole'])
mid3[['Ticker','Soft Resistance']] = mid3.whole.str.split(expand=True) 
mid3.drop(columns = 'whole',inplace=True)
mid3.head(5)

  Ticker Soft Resistance
0   BBBY           53.66
1   INTC           57.77
2    GGB            4.75
3    WMT          147.55
4    WMT          147.55

In [9]:
mid4 = pd.DataFrame(support1, columns = ['whole'])
mid4[['Ticker','Soft Support']] = mid4.whole.str.split(expand=True) 
mid4.drop(columns = 'whole',inplace=True)
mid4.head(5)

  Ticker Soft Support
0   BBBY        30.68
1   INTC        55.44
2    GGB         4.49
3    WMT       146.20
4    WMT       146.20

In [10]:
new_df = pd.DataFrame(good, columns = ['Info'])

In [11]:
new_df = new_df[~new_df['Info'].astype(str).str.startswith('AD')]
new_df['Ticker'] = new_df['Info'].str.split(' ').str[0]

In [12]:
newer_df = pd.merge(new_df, mid, on = 'Ticker')
newer_df1 = pd.merge(newer_df, mid2, on = 'Ticker')
newer_df2 = pd.merge(newer_df1, mid3, on = 'Ticker')
newer_df3 = pd.merge(newer_df2, mid4, on = 'Ticker')
newer_df3 = newer_df3[['Ticker', 'Strong Support', 'Soft Support', 'Soft Resistance', 'Hard Resistance', 'Info']]
newer_df3.head(5)

,Ticker,Strong Support,Soft Support,Soft Resistance,Hard Resistance,Info
0,BBBY,24.75,30.68,53.66,59.59,BBBY
1,BBBY,24.75,30.68,53.66,59.59,BBBY My main watch this one could squeeze nice...
2,INTC,54.17,55.44,57.77,59.05,INTC
3,INTC,54.17,55.44,57.77,59.05,INTC if this can bounce of the 4949.30s an bre...
4,GGB,4.39,4.49,4.75,4.85,GGB

In [13]:
df1 = (
    newer_df3.assign(count=(newer_df3["Info"].str.len()))
    .drop_duplicates(subset=["Ticker"], keep="last")
).drop('count',axis=1)
df2 = df1.copy()
# df1 = df1.head(2)
ticker_list2 = df1['Ticker'].tolist()

In [14]:
print ("List in proper method", '[%s]' % ', '.join(map(str, df2.Ticker.tolist())))

List in proper method [BBBY, INTC, GGB, WMT, IGT, WKHS, NEE, FTEK, WATT, VERU, TGT, KR, UMC, FAST, MAC, JD, SPWR, F, XL, FUBO, XSPA]

In [15]:
# df1 = df1.set_index(df1['Ticker'])
# df1.drop(columns = ['Ticker'],inplace= True)
# df1
df1.head(5)

,Ticker,Strong Support,Soft Support,Soft Resistance,Hard Resistance,Info
1,BBBY,24.75,30.68,53.66,59.59,BBBY My main watch this one could squeeze nice...
3,INTC,54.17,55.44,57.77,59.05,INTC if this can bounce of the 4949.30s an bre...
5,GGB,4.39,4.49,4.75,4.85,GGB a cheap play that could explode if It brea...
37,WMT,144.90,146.20,147.55,148.86,WMT (watch at the open) looking for Walmart f...
39,IGT,16.78,17.27,18.31,18.80,IGT looking for that retracement on the dip t...
41,WKHS,23.42,24.71,27.06,28.36,WKHS I would like to see this pull back from t...
43,NEE,84.75,86.87,89.81,91.93,NEE Could be the next rapper play. Watch this ...
45,FTEK,5.63,6.44,7.41,8.23,FTEK Looking for a dip around the 5.05.30s and...
47,WATT,3.44,3.94,4.97,5.46,WATT nice cup and handle potentially forming. ...
49,VERU,8.29,8.62,9.40,9.73,VERU interesting pattern and gapped up a lot. ...
51,TGT,188.55,190.15,194.71,196.31,TGT looking for that dip around 188.6 189.12 ...
53,KR,32.94,34.57,38.66,40.30,KR Im liking the chart pattern as Kroger has b...
55,UMC,9.93,10.20,10.88,11.15,UMC Im liking this for a long term hold in sh...
57,FAST,47.27,48.13,49.10,49.96,FAST Has been trading above that $50 psycholo...
59,MAC,15.08,17.24,21.00,23.16,MAC Looking to have a golden cross on the dail...
61,JD,95.85,98.38,104.21,106.75,JD potential day trade and maybe a swing for ...
63,SPWR,41.86,47.33,60.46,65.92,SPWR cup and handle play for a potential dip ...
65,F,10.94,11.29,11.87,12.22,F $10 psychological barrier but I believe thi...
67,XL,18.93,19.96,21.95,22.97,XL looking for that dip to 20.1420.50s for a p...
69,FUBO,36.46,40.98,49.30,53.82,FUBO I’m liking the cup and handle forming on...
71,XSPA,1.8133,1.9600,2.3267,2.4733,XSPA Looking for a long term swing probably a ...

In [16]:
#extracting A  Yahoo Finance API
tickers = df1['Ticker']
other = ['ATVI', 'VUZI','NSG','CZR','JKS','OPK','SPPI','TTCF']
others = pd.DataFrame(other, columns = ['Tickers'])
tickers = tickers.append(others['Tickers'])

all_data = pd.DataFrame()
test_data = pd.DataFrame()
no_data = []

for i in tickers:
    try:
        test_data = pdr.get_data_yahoo(i, start = dt.datetime(1990,1,2), end = dt.date.today())
        test_data['symbol'] = i
        all_data = all_data.append(test_data)
    except:
        no_data.append(i)

#Creating Return column
all_data['return'] = all_data.groupby('symbol')['Close'].pct_change() 
all_data.describe()

,High,Low,Open,Close,Volume,Adj Close,return
count,139913.000000,139913.000000,139913.000000,139913.000000,1.399130e+05,139913.000000,139885.000000
mean,34.411348,32.698530,33.612713,33.508259,8.280092e+06,30.006370,0.001046
std,153.236880,142.271798,148.303741,147.213958,1.820441e+07,147.159344,0.040717
min,0.214844,0.150000,0.000000,0.207031,0.000000e+00,0.141282,-0.733333
25%,4.430000,4.250000,4.340000,4.340000,4.821000e+05,3.325651,-0.012882
50%,10.890000,10.500000,10.697500,10.700000,3.018300e+06,8.411245,0.000000
75%,27.375000,26.515524,26.959999,26.927683,7.208300e+06,21.930874,0.012914
max,3438.000000,2940.000000,3384.000000,3258.000000,5.677088e+08,3258.000000,2.143535

In [17]:
def isSupport(df,i):
  support = df['Low'][i-2] < df['Low'][i-3]  and df['Low'][i-2] < df['Low'][i-1] and df['Low'][i-1] < df['Low'][i] and df['Low'][i-3] < df['Low'][i-4]
  return support
def isResistance(df,i):
  resistance = df['High'][i-2] > df['High'][i-3]  and df['High'][i-2] > df['High'][i-1] and df['High'][i-1] > df['High'][i] and df['High'][i-3] > df['High'][i-4]
  return resistance

In [18]:
all_data['SMA_5'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window = 5).mean())
all_data['SMA_15'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window = 15).mean())
all_data['SMA_10'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window = 10).mean())
all_data['SMA_20'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window = 15).mean())

all_data['SMA_ratio'] = all_data['SMA_15'] / all_data['SMA_5']
all_data['SMA_ratio2'] = all_data['SMA_10'] / all_data['SMA_5']
all_data['SMA_ratio3'] = all_data['SMA_15'] / all_data['SMA_10']
all_data['SMA_ratio4'] = all_data['SMA_20'] / all_data['SMA_10']

all_data.tail(50)

,High,Low,Open,Close,Volume,Adj Close,symbol,return,SMA_5,SMA_15,SMA_10,SMA_20,SMA_ratio,SMA_ratio2,SMA_ratio3,SMA_ratio4
Date,,,,,,,,,,,,,,,,
2020-11-12,17.959999,17.200001,17.490000,17.490000,731900.0,17.490000,TTCF,-0.008503,18.416,18.010667,17.965,18.010667,0.977990,0.975510,1.002542,1.002542
2020-11-13,17.500000,16.719999,17.430000,17.059999,1179100.0,17.059999,TTCF,-0.024585,17.908,17.866667,17.956,17.866667,0.997692,1.002680,0.995025,0.995025
2020-11-16,17.200001,16.400000,17.200001,16.629999,1139100.0,16.629999,TTCF,-0.025205,17.222,17.834667,17.964,17.834667,1.035575,1.043084,0.992800,0.992800
2020-11-17,17.650000,16.850000,17.219999,17.010000,1562300.0,17.010000,TTCF,0.022850,17.166,17.701333,17.990,17.701333,1.031186,1.048002,0.983954,0.983954
2020-11-18,17.400000,16.709999,17.100000,16.830000,1179500.0,16.830000,TTCF,-0.010582,17.004,17.646667,17.873,17.646667,1.037795,1.051106,0.987337,0.987337
2020-11-19,16.270000,15.120000,16.049999,15.700000,5154300.0,15.700000,TTCF,-0.067142,16.646,17.525333,17.531,17.525333,1.052826,1.053166,0.999677,0.999677
2020-11-20,16.170000,15.350000,15.850000,15.790000,2184200.0,15.790000,TTCF,0.005732,16.392,17.434667,17.150,17.434667,1.063608,1.046242,1.016599,1.016599
2020-11-23,17.400000,15.040000,16.000000,17.350000,4439400.0,17.350000,TTCF,0.098797,16.536,17.488000,16.879,17.488000,1.057571,1.020743,1.036080,1.036080
2020-11-24,17.100000,15.550000,17.100000,15.810000,2839800.0,15.810000,TTCF,-0.088761,16.296,17.425333,16.731,17.425333,1.069301,1.026694,1.041500,1.041500
2020-11-25,16.049999,15.350000,15.700000,15.940000,1485900.0,15.940000,TTCF,0.008223,16.118,17.288000,16.561,17.288000,1.072590,1.027485,1.043898,1.043898
2020-11-27,16.000000,15.630000,15.850000,15.830000,1072500.0,15.830000,TTCF,-0.006901,16.144,17.068667,16.395,17.068667,1.057276,1.015548,1.041090,1.041090
2020-11-30,15.700000,15.010000,15.650000,15.240000,1825700.0,15.240000,TTCF,-0.037271,16.034,16.778000,16.213,16.778000,1.046401,1.011164,1.034849,1.034849
2020-12-01,15.370000,14.090000,15.250000,14.940000,2757200.0,14.940000,TTCF,-0.019685,15.552,16.436667,16.044,16.436667,1.056884,1.031636,1.024474,1.024474
2020-12-02,15.590000,14.440000,14.650000,15.420000,1557700.0,15.420000,TTCF,0.032129,15.474,16.312000,15.885,16.312000,1.054155,1.026561,1.026881,1.026881
2020-12-03,16.049999,14.950000,15.420000,15.670000,1692500.0,15.670000,TTCF,0.016213,15.420,16.180667,15.769,16.180667,1.049330,1.022633,1.026106,1.026106
2020-12-04,15.750000,15.180000,15.640000,15.690000,1019700.0,15.690000,TTCF,0.001276,15.392,16.060667,15.768,16.060667,1.043442,1.024428,1.018561,1.018561
2020-12-07,16.600000,15.700000,16.070000,15.960000,1531600.0,15.960000,TTCF,0.017208,15.536,15.987333,15.785,15.987333,1.029051,1.016027,1.012818,1.012818
2020-12-08,17.480000,16.120001,16.190001,16.889999,2509300.0,16.889999,TTCF,0.058271,15.926,16.004667,15.739,16.004667,1.004940,0.988258,1.016880,1.016880
2020-12-09,18.240000,16.830000,17.910000,17.450001,2846400.0,17.450001,TTCF,0.033156,16.332,16.034000,15.903,16.034000,0.981754,0.973733,1.008237,1.008237
2020-12-10,17.790001,16.900000,17.330000,17.610001,1095400.0,17.610001,TTCF,0.009169,16.720,16.086000,16.070,16.086000,0.962081,0.961124,1.000996,1.000996
2020-12-11,18.559999,17.230000,17.590000,18.309999,2626800.0,18.309999,TTCF,0.039750,17.244,16.260000,16.318,16.260000,0.942937,0.946300,0.996446,0.996446
2020-12-14,20.650000,18.670000,19.240000,20.450001,5896400.0,20.450001,TTCF,0.116876,18.142,16.570667,16.839,16.570667,0.913387,0.928178,0.984065,0.984065
2020-12-15,21.389999,19.209999,20.900000,19.350000,6832300.0,19.350000,TTCF,-0.053790,18.634,16.704000,17.280,16.704000,0.896426,0.927337,0.966667,0.966667
2020-12-16,19.600000,18.400000,19.450001,19.250000,3240500.0,19.250000,TTCF,-0.005168,18.994,16.933333,17.663,16.933333,0.891510,0.929925,0.958690,0.958690
2020-12-17,20.309999,19.330000,19.480000,20.260000,3271100.0,20.260000,TTCF,0.052468,19.524,17.221333,18.122,17.221333,0.882060,0.928191,0.950300,0.950300
2020-12-18,22.900000,20.950001,21.280001,22.160000,9516400.0,22.160000,TTCF,0.093781,20.294,17.643333,18.769,17.643333,0.869387,0.924855,0.940025,0.940025
2020-12-21,25.580000,23.139999,23.299999,25.500000,8997300.0,25.500000,TTCF,0.150722,21.304,18.327333,19.723,18.327333,0.860277,0.925789,0.929237,0.929237
2020-12-22,26.740000,23.309999,26.209999,25.860001,7088900.0,25.860001,TTCF,0.014118,22.606,19.055333,20.620,19.055333,0.842933,0.912147,0.924119,0.924119
2020-12-23,25.889999,24.590000,25.850000,24.690001,2595300.0,24.690001,TTCF,-0.045244,23.694,19.673333,21.344,19.673333,0.830309,0.900819,0.921727,0.921727
2020-12-24,25.840000,24.670000,25.000000,24.959999,1916800.0,24.959999,TTCF,0.010936,24.634,20.292667,22.079,20.292667,0.823767,0.896282,0.919094,0.919094
2020-12-28,25.299999,23.100000,25.290001,23.420000,3183100.0,23.420000,TTCF,-0.061699,24.886,20.808000,22.590,20.808000,0.836133,0.907739,0.921116,0.921116
2020-12-29,23.670000,22.070000,23.250000,22.680000,2601100.0,22.680000,TTCF,-0.031597,24.322,21.256000,22.813,21.256000,0.873941,0.937957,0.931749,0.931749
2020-12-30,24.500000,22.969999,22.969999,24.320000,1790400.0,24.320000,TTCF,0.072310,24.014,21.751333,23.310,21.751333,0.905777,0.970684,0.933133,0.933133
2020-12-31,24.450001,22.820000,24.100000,22.889999,1947500.0,22.889999,TTCF,-0.058799,23.654,22.114000,23.674,22.114000,0.934895,1.000846,0.934105,0.934105
2021-01-04,24.280001,22.900000,23.920000,23.530001,2787700.0,23.530001,TTCF,0.027960,23.368,22.508667,24.001,22.508667,0.963226,1.027088,0.937822,0.937822
2021-01-05,24.180000,23.420000,23.709999,23.600000,1839700.0,23.600000,TTCF,0.002975,23.404,22.861333,24.145,22.861333,0.976813,1.031661,0.946835,0.946835
2021-01-06,24.830000,23.010000,23.799999,23.450001,2824800.0,23.450001,TTCF,-0.006356,23.558,23.061333,23.940,23.061333,0.978917,1.016215,0.963297,0.963297
2021-01-07,24.490000,23.600000,24.320000,23.910000,2373200.0,23.910000,TTCF,0.019616,23.476,23.365333,23.745,23.365333,0.995286,1.011459,0.984011,0.984011
2021-01-08,23.940001,23.270000,23.879999,23.750000,2660600.0,23.750000,TTCF,-0.006692,23.648,23.665333,23.651,23.665333,1.000733,1.000127,1.000606,1.000606
2021-01-11,24.719999,23.400000,23.540001,23.940001,3502900.0,23.940001,TTCF,0.008000,23.730,23.910667,23.549,23.910667,1.007613,0.992373,1.015358,1.015358
2021-01-12,25.750000,23.850000,23.990000,25.440001,3642000.0,25.440001,TTCF,0.062657,24.098,24.129333,23.751,24.129333,1.001300,0.985600,1.015929,1.015929
2021-01-13,26.570000,25.129999,25.440001,25.559999,2613900.0,25.559999,TTCF,0.004717,24.520,24.133333,24.039,24.133333,0.984231,0.980383,1.003924,1.003924
2021-01-14,27.799999,26.000000,26.070000,26.809999,4739500.0,26.809999,TTCF,0.048905,25.100,24.196667,24.288,24.196667,0.964011,0.967649,0.996240,0.996240
2021-01-15,26.900000,25.160000,26.850000,25.280001,2946900.0,25.280001,TTCF,-0.057068,25.406,24.236000,24.527,24.236000,0.953948,0.965402,0.988136,0.988136
2021-01-19,26.530001,24.459999,25.990000,24.690001,3437800.0,24.690001,TTCF,-0.023339,25.556,24.218000,24.643,24.218000,0.947644,0.964275,0.982754,0.982754
2021-01-20,24.990000,23.870001,24.750000,24.590000,2573500.0,24.590000,TTCF,-0.004050,25.386,24.296000,24.742,24.296000,0.957063,0.974632,0.981974,0.981974
2021-01-21,24.830000,23.879999,24.620001,24.080000,1985700.0,24.080000,TTCF,-0.020740,25.090,24.389333,24.805,24.389333,0.972074,0.988641,0.983243,0.983243
2021-01-22,24.650000,23.840000,23.850000,24.540001,1668900.0,24.540001,TTCF,0.019103,24.636,24.404000,24.868,24.404000,0.990583,1.009417,0.981341,0.981341
2021-01-25,25.850000,23.520000,24.500000,24.500000,3372400.0,24.500000,TTCF,-0.001630,24.480,24.511334,24.943,24.511334,1.001280,1.018913,0.982694,0.982694
2021-01-26,25.879999,24.709999,25.709999,25.240000,1354560.0,25.240000,TTCF,0.030204,24.590,24.625334,25.073,24.625334,1.001437,1.019642,0.982145,0.982145

In [19]:
# Simple moving average of VOLUME
all_data['SMA5_Volume'] = all_data.groupby('symbol')['Volume'].transform(lambda x: x.rolling(window = 5).mean())
all_data['SMA15_Volume'] = all_data.groupby('symbol')['Volume'].transform(lambda x: x.rolling(window = 15).mean())
all_data['SMA10_Volume'] = all_data.groupby('symbol')['Volume'].transform(lambda x: x.rolling(window = 10).mean())
all_data['SMA20_Volume'] = all_data.groupby('symbol')['Volume'].transform(lambda x: x.rolling(window = 20).mean())

all_data['SMA_Volume_Ratio'] = all_data['SMA5_Volume']/all_data['SMA15_Volume']
all_data['SMA_Volume_Ratio2'] = all_data['SMA10_Volume']/all_data['SMA15_Volume']
all_data['SMA_Volume_Ratio3'] = all_data['SMA5_Volume']/all_data['SMA10_Volume']
all_data['SMA_Volume_Ratio4'] = all_data['SMA10_Volume']/all_data['SMA20_Volume']
all_data['SMA_Volume_Ratio5'] = all_data['SMA5_Volume']/all_data['SMA20_Volume']

all_data.tail(5)

,High,Low,Open,Close,Volume,Adj Close,symbol,return,SMA_5,SMA_15,...,SMA_ratio4,SMA5_Volume,SMA15_Volume,SMA10_Volume,SMA20_Volume,SMA_Volume_Ratio,SMA_Volume_Ratio2,SMA_Volume_Ratio3,SMA_Volume_Ratio4,SMA_Volume_Ratio5
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-20,24.990000,23.870001,24.750000,24.590000,2573500.0,24.590000,TTCF,-0.004050,25.386,24.296000,...,0.981974,3262320.0,2.818767e+06,3131510.0,3303145.0,1.157357,1.110950,1.041772,0.948039,0.987641
2021-01-21,24.830000,23.879999,24.620001,24.080000,1985700.0,24.080000,TTCF,-0.020740,25.090,24.389333,...,0.983243,3136680.0,2.777740e+06,3047600.0,2952565.0,1.129220,1.097151,1.029230,1.032187,1.062358
2021-01-22,24.650000,23.840000,23.850000,24.540001,1668900.0,24.540001,TTCF,0.019103,24.636,24.404000,...,0.981341,2522560.0,2.769640e+06,2977170.0,2681565.0,0.910790,1.074930,0.847301,1.110236,0.940704
2021-01-25,25.850000,23.520000,24.500000,24.500000,3372400.0,24.500000,TTCF,-0.001630,24.480,24.511334,...,0.982694,2607660.0,2.864633e+06,3048350.0,2720420.0,0.910295,1.064133,0.855433,1.120544,0.958551
2021-01-26,25.879999,24.709999,25.709999,25.240000,1354560.0,25.240000,TTCF,0.030204,24.590,24.625334,...,0.982145,2191012.0,2.769091e+06,2833516.0,2692308.0,0.791239,1.023266,0.773249,1.052449,0.813804

In [20]:
# Smoothing with Wilder puts emphasis on recent values
def Wilder(data, periods):
    start = np.where(~np.isnan(data))[0][0] #Check if nans present in beginning
    Wilder = np.array([np.nan]*len(data))
    Wilder[start+periods-1] = data[start:(start+periods)].mean() #Simple Moving Average
    for i in range(start+periods,len(data)):
        Wilder[i] = (Wilder[i-1]*(periods-1) + data[i])/periods #Wilder Smoothing
    return(Wilder)

In [21]:
# ATR ratio is used to figure out a true range, for volatility
all_data['prev_close'] = all_data.groupby('symbol')['Close'].shift(1)
all_data['TR'] = np.maximum((all_data['High'] - all_data['Low']), 
                     np.maximum(abs(all_data['High'] - all_data['prev_close']), 
                     abs(all_data['prev_close'] - all_data['Low'])))
for i in all_data['symbol'].unique():
    TR_data = all_data[all_data.symbol == i].copy()
    all_data.loc[all_data.symbol==i,'ATR_5'] = Wilder(TR_data['TR'], 5)
    all_data.loc[all_data.symbol==i,'ATR_15'] = Wilder(TR_data['TR'], 15)
    all_data.loc[all_data.symbol==i,'ATR_10'] = Wilder(TR_data['TR'], 10)

all_data['ATR_Ratio'] = all_data['ATR_5'] / all_data['ATR_15']
all_data['ATR_Ratio2'] = all_data['ATR_5'] / all_data['ATR_10']
all_data['ATR_Ratio3'] = all_data['ATR_10'] / all_data['ATR_15']

In [22]:
all_data['prev_high'] = all_data.groupby('symbol')['High'].shift(1)
all_data['prev_low'] = all_data.groupby('symbol')['Low'].shift(1)

all_data['+DM'] = np.where(~np.isnan(all_data.prev_high),
                           np.where((all_data['High'] > all_data['prev_high']) & 
         (((all_data['High'] - all_data['prev_high']) > (all_data['prev_low'] - all_data['Low']))), 
                                                                  all_data['High'] - all_data['prev_high'], 
                                                                  0),np.nan)

all_data['-DM'] = np.where(~np.isnan(all_data.prev_low),
                           np.where((all_data['prev_low'] > all_data['Low']) & 
         (((all_data['prev_low'] - all_data['Low']) > (all_data['High'] - all_data['prev_high']))), 
                                    all_data['prev_low'] - all_data['Low'], 
                                    0),np.nan)

for i in all_data['symbol'].unique():
    ADX_data = all_data[all_data.symbol == i].copy()
    all_data.loc[all_data.symbol==i,'+DM_5'] = Wilder(ADX_data['+DM'], 5)
    all_data.loc[all_data.symbol==i,'-DM_5'] = Wilder(ADX_data['-DM'], 5)
    all_data.loc[all_data.symbol==i,'+DM_15'] = Wilder(ADX_data['+DM'], 15)
    all_data.loc[all_data.symbol==i,'-DM_15'] = Wilder(ADX_data['-DM'], 15)
    all_data.loc[all_data.symbol==i,'-DM_10'] = Wilder(ADX_data['-DM'], 10)
    all_data.loc[all_data.symbol==i,'+DM_10'] = Wilder(ADX_data['+DM'], 10)


all_data['+DI_5'] = (all_data['+DM_5']/all_data['ATR_5'])*100
all_data['-DI_5'] = (all_data['-DM_5']/all_data['ATR_5'])*100
all_data['+DI_15'] = (all_data['+DM_15']/all_data['ATR_15'])*100
all_data['-DI_15'] = (all_data['-DM_15']/all_data['ATR_15'])*100
all_data['-DI_10'] = (all_data['-DM_10']/all_data['ATR_10'])*100
all_data['+DI_10'] = (all_data['+DM_10']/all_data['ATR_10'])*100



all_data['DX_5'] = (np.round(abs(all_data['+DI_5'] - all_data['-DI_5'])/(all_data['+DI_5'] + all_data['-DI_5']) * 100))
all_data['DX_10'] = (np.round(abs(all_data['+DI_10'] - all_data['-DI_10'])/(all_data['+DI_10'] + all_data['-DI_10']) * 100))
all_data['DX_15'] = (np.round(abs(all_data['+DI_15'] - all_data['-DI_15'])/(all_data['+DI_15'] + all_data['-DI_15']) * 100))

for i in all_data['symbol'].unique():
    ADX_data = all_data[all_data.symbol == i].copy()
    all_data.loc[all_data.symbol==i,'ADX_5'] = Wilder(ADX_data['DX_5'], 5)
    all_data.loc[all_data.symbol==i,'ADX_15'] = Wilder(ADX_data['DX_15'], 15)
    all_data.loc[all_data.symbol==i,'ADX_10'] = Wilder(ADX_data['DX_10'], 10)

In [23]:
# Stochastic oscillator for overbought/ oversold

all_data['Lowest_5D'] = all_data.groupby('symbol')['Low'].transform(lambda x: x.rolling(window = 5).min())
all_data['High_5D'] = all_data.groupby('symbol')['High'].transform(lambda x: x.rolling(window = 5).max())
all_data['Lowest_10D'] = all_data.groupby('symbol')['Low'].transform(lambda x: x.rolling(window = 10).min())
all_data['High_10D'] = all_data.groupby('symbol')['High'].transform(lambda x: x.rolling(window = 10).max())
all_data['Lowest_15D'] = all_data.groupby('symbol')['Low'].transform(lambda x: x.rolling(window = 15).min())
all_data['High_15D'] = all_data.groupby('symbol')['High'].transform(lambda x: x.rolling(window = 15).max())
all_data['Lowest_20D'] = all_data.groupby('symbol')['Low'].transform(lambda x: x.rolling(window = 20).min())
all_data['High_20D'] = all_data.groupby('symbol')['High'].transform(lambda x: x.rolling(window = 20).max())

all_data['Stochastic_5'] = ((all_data['Close'] - all_data['Lowest_5D'])/(all_data['High_5D'] - all_data['Lowest_5D']))*100
all_data['Stochastic_10'] = ((all_data['Close'] - all_data['Lowest_10D'])/(all_data['High_10D'] - all_data['Lowest_10D']))*100
all_data['Stochastic_15'] = ((all_data['Close'] - all_data['Lowest_15D'])/(all_data['High_15D'] - all_data['Lowest_15D']))*100
all_data['Stochastic_20'] = ((all_data['Close'] - all_data['Lowest_20D'])/(all_data['High_20D'] - all_data['Lowest_20D']))*100

all_data['Stochastic_%D_5'] = all_data['Stochastic_5'].rolling(window = 5).mean()
all_data['Stochastic_%D_10'] = all_data['Stochastic_10'].rolling(window = 10).mean()
all_data['Stochastic_%D_15'] = all_data['Stochastic_15'].rolling(window = 15).mean()
all_data['Stochastic_%D_20'] = all_data['Stochastic_20'].rolling(window = 20).mean()

all_data['Stochastic_Ratio'] = all_data['Stochastic_%D_5']/all_data['Stochastic_%D_15']
all_data['Stochastic_Ratio2'] = all_data['Stochastic_%D_10']/all_data['Stochastic_%D_15']
all_data['Stochastic_Ratio5'] = all_data['Stochastic_%D_10']/all_data['Stochastic_%D_20']
all_data['Stochastic_Ratio6'] = all_data['Stochastic_%D_15']/all_data['Stochastic_%D_20']

In [24]:
# RSI using stoch 

all_data['Diff'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.diff())
all_data['Up'] = all_data['Diff']
all_data.loc[(all_data['Up']<0), 'Up'] = 0

all_data['Down'] = all_data['Diff']
all_data.loc[(all_data['Down']>0), 'Down'] = 0 
all_data['Down'] = abs(all_data['Down'])

all_data['avg_5up'] = all_data.groupby('symbol')['Up'].transform(lambda x: x.rolling(window=5).mean())
all_data['avg_5down'] = all_data.groupby('symbol')['Down'].transform(lambda x: x.rolling(window=5).mean())

all_data['avg_15up'] = all_data.groupby('symbol')['Up'].transform(lambda x: x.rolling(window=15).mean())
all_data['avg_15down'] = all_data.groupby('symbol')['Down'].transform(lambda x: x.rolling(window=15).mean())

all_data['RS_5'] = all_data['avg_5up'] / all_data['avg_5down']
all_data['RS_15'] = all_data['avg_15up'] / all_data['avg_15down']

all_data['RSI_5'] = 100 - (100/(1+all_data['RS_5']))
all_data['RSI_15'] = 100 - (100/(1+all_data['RS_15']))

all_data['RSI_ratio'] = all_data['RSI_5']/all_data['RSI_15']

In [25]:
# MACD for 26 and 12 day

all_data['12Ewm'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.ewm(span=12, adjust=False).mean())
all_data['26Ewm'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.ewm(span=26, adjust=False).mean())

all_data['5Ewm'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.ewm(span=5, adjust=False).mean())
all_data['15Ewm'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.ewm(span=15, adjust=False).mean())
all_data['MACD'] = (all_data['12Ewm'] - all_data['26Ewm'])

all_data['MACD2'] = (all_data['5Ewm'] - all_data['15Ewm'])
all_data.tail(5)

,High,Low,Open,Close,Volume,Adj Close,symbol,return,SMA_5,SMA_15,...,RS_15,RSI_5,RSI_15,RSI_ratio,12Ewm,26Ewm,5Ewm,15Ewm,MACD,MACD2
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-20,24.990000,23.870001,24.750000,24.590000,2573500.0,24.590000,TTCF,-0.004050,25.386,24.296000,...,1.248936,38.161549,55.534533,0.687168,24.555952,23.201921,24.962387,24.272401,1.354031,0.689986
2021-01-21,24.830000,23.879999,24.620001,24.080000,1985700.0,24.080000,TTCF,-0.020740,25.090,24.389333,...,1.313199,31.407039,56.769825,0.553235,24.482729,23.266964,24.668258,24.248351,1.215764,0.419907
2021-01-22,24.650000,23.840000,23.850000,24.540001,1668900.0,24.540001,TTCF,0.019103,24.636,24.404000,...,1.049217,14.420091,51.200880,0.281638,24.491540,23.361263,24.625506,24.284807,1.130277,0.340699
2021-01-25,25.850000,23.520000,24.500000,24.500000,3372400.0,24.500000,TTCF,-0.001630,24.480,24.511334,...,1.522727,27.058839,60.360364,0.448288,24.492841,23.445614,24.583670,24.311706,1.047227,0.271964
2021-01-26,25.879999,24.709999,25.709999,25.240000,1354560.0,25.240000,TTCF,0.030204,24.590,24.625334,...,1.555195,64.864826,60.864036,1.065733,24.607789,23.578531,24.802447,24.427743,1.029257,0.374704

In [26]:
#Bollinger for volatility and overbought/oversold
all_data['15MA'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window=15).mean())
all_data['SD'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.rolling(window=15).std())
all_data['upperband'] = all_data['15MA'] + 2*all_data['SD']
all_data['lowerband'] = all_data['15MA'] - 2*all_data['SD']
all_data.describe()

,High,Low,Open,Close,Volume,Adj Close,return,SMA_5,SMA_15,SMA_10,...,12Ewm,26Ewm,5Ewm,15Ewm,MACD,MACD2,15MA,SD,upperband,lowerband
count,139913.000000,139913.000000,139913.000000,139913.000000,1.399130e+05,139913.000000,139885.000000,139801.000000,139521.000000,139661.000000,...,139913.000000,139913.000000,139913.000000,139913.000000,139913.000000,139913.000000,139521.000000,139521.000000,139521.000000,139521.000000
mean,34.411348,32.698530,33.612713,33.508259,8.280092e+06,30.006370,0.001046,33.490325,33.451125,33.469826,...,33.541967,33.588135,33.520148,33.551609,-0.046169,-0.031460,33.451125,1.663163,36.777450,30.124800
std,153.236880,142.271798,148.303741,147.213958,1.820441e+07,147.159344,0.040717,146.922025,146.444587,146.666702,...,146.919771,146.831977,147.036148,146.889459,7.704249,8.357052,146.444587,13.447726,167.330716,127.824866
min,0.214844,0.150000,0.000000,0.207031,0.000000e+00,0.141282,-0.733333,0.212500,0.226302,0.224219,...,0.226860,0.233420,0.215652,0.231805,-364.402409,-471.451745,0.226302,0.000000,0.243961,-128.294345
25%,4.430000,4.250000,4.340000,4.340000,4.821000e+05,3.325651,-0.012882,4.336000,4.337333,4.337000,...,4.338562,4.339109,4.336214,4.338919,-0.130491,-0.128483,4.337333,0.138657,4.692046,3.938603
50%,10.890000,10.500000,10.697500,10.700000,3.018300e+06,8.411245,0.000000,10.702232,10.716667,10.711000,...,10.703301,10.708170,10.706377,10.703699,0.012590,0.008582,10.716667,0.331681,11.520759,9.940184
75%,27.375000,26.515524,26.959999,26.927683,7.208300e+06,21.930874,0.012914,26.920000,26.892000,26.902000,...,26.875967,26.789491,26.913243,26.852351,0.195665,0.182717,26.892000,0.785965,28.916334,25.215978
max,3438.000000,2940.000000,3384.000000,3258.000000,5.677088e+08,3258.000000,2.143535,2920.800000,2690.000000,2854.800000,...,2667.027680,2445.678609,2820.145554,2600.945490,347.430990,435.278222,2690.000000,629.908020,3579.984148,2372.113687

In [27]:
all_data['RC'] = all_data.groupby('symbol')['Close'].transform(lambda x: x.pct_change(periods = 15))

In [28]:
import xlwings as xl
def df_from_excel(path):
    app = xl.App(visible=False)
    book = app.books.open(path)
    book.save()
    app.kill()
    return pd.read_excel(path)

In [29]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [30]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

symbols = []
out = [sub_df for _, sub_df in all_data.groupby('symbol')]
j = 0
dict = []
while (j < len(out)):
    all_data = out[j]
    
    forecast_out = 13
    forecast_out2 = 15
    forecast_col = 'Adj Close'
    vforecast_col = 'Volume'
    
    all_data['Date1'] = pd.to_datetime(all_data.index)
    all_data['Date1'] = all_data['Date1'].apply(mpl_dates.date2num)
    all_data
    levels = []
    for i in range(0,all_data.shape[0]):
      if isSupport(all_data,i):
        levels.append((all_data['Date1'][i],all_data['Low'][i]))
      elif isResistance(all_data,i):
        levels.append((all_data['Date1'][i],all_data['High'][i]))
      else:
        levels.append((all_data['Date1'][i],0))

    df = pd.DataFrame(levels, columns=['Date1', 'levels'])
    all_data = pd.merge(all_data, df, on=["Date1"], right_index=True, how= 'outer')
    all_data.tail(50)
    all_data['levels']=all_data['levels'].replace(to_replace=0, method='ffill')
    df.levels.fillna(method='ffill',inplace=True) 
    
    
    all_data['label'] = all_data[forecast_col].shift(-forecast_out)
    all_data['second'] = all_data[forecast_col].shift(-forecast_out2)

    all_data['label1'] = all_data[forecast_col].shift(2)
    all_data['label2'] = all_data[forecast_col].shift(3)
    all_data['label3'] = all_data[forecast_col].shift(4)
    all_data['label4'] = all_data[forecast_col].shift(5)
    all_data['label5'] = all_data[forecast_col].shift(6)
    all_data['label6'] = all_data[forecast_col].shift(7)
    all_data['label7'] = all_data[forecast_col].shift(8)
    all_data['label8'] = all_data[forecast_col].shift(9)
    all_data['label9'] = all_data[forecast_col].shift(10)
    all_data['label10'] = all_data[forecast_col].shift(11)
    all_data['label11'] = all_data[forecast_col].shift(12)
    all_data['label12'] = all_data[forecast_col].shift(13)
    all_data['label13'] = all_data[forecast_col].shift(14)
    all_data['label14'] = all_data[forecast_col].shift(15)
    all_data['label15'] = all_data[forecast_col].shift(16)
    all_data['label16'] = all_data[forecast_col].shift(17)
    all_data['label17'] = all_data[forecast_col].shift(18)
    all_data['label18'] = all_data[forecast_col].shift(19)
    all_data['label19'] = all_data[forecast_col].shift(20)

    all_data['vlabel10'] = all_data[vforecast_col].shift(11)
    all_data['vlabel14'] = all_data[vforecast_col].shift(15)

    all_data['Difference'] = all_data['label'] - all_data['Adj Close']
    all_data['second_Difference'] = all_data['second'] - all_data['Adj Close']
    # all_data['Difference1'] = all_data['label1'] - all_data['Adj Close']
    # all_data['Difference2'] = all_data['label2'] - all_data['Adj Close']
    # all_data['Difference3'] = all_data['label3'] - all_data['Adj Close']
    # all_data['Difference4'] = all_data['label4'] - all_data['Adj Close']
    all_data['Difference6'] = all_data['label6'] - all_data['Adj Close']
    all_data['Difference7'] = all_data['label7'] - all_data['Adj Close']
    all_data['Difference8'] = all_data['label8'] - all_data['Adj Close']
    all_data['Difference9'] = all_data['label9'] - all_data['Adj Close']
    all_data['Difference10'] = all_data['label10'] - all_data['Adj Close']
    all_data['Difference11'] = all_data['label11'] - all_data['Adj Close']
    all_data['Difference12'] = all_data['label12'] - all_data['Adj Close']
    all_data['Difference13'] = all_data['label13'] - all_data['Adj Close']
    all_data['Difference14'] = all_data['label14'] - all_data['Adj Close']
    all_data['Difference15'] = all_data['label15'] - all_data['Adj Close']
    all_data['Difference16'] = all_data['label16'] - all_data['Adj Close']
    all_data['Difference17'] = all_data['label17'] - all_data['Adj Close']
    all_data['Difference18'] = all_data['label18'] - all_data['Adj Close']
    all_data['Difference19'] = all_data['label19'] - all_data['Adj Close']
    all_data['Difference200'] = all_data['levels'] - all_data['Adj Close']
    
    the_symbol = all_data['symbol'][0]

    # Buy or sell column tells if the price is up or down in next 15 days
    all_data['Buy or Sell'] = (all_data['Difference'] > (0.003 * all_data['Adj Close'])).astype(int)
    all_data['Buy or Sell2'] = (all_data['second_Difference'] > (0.003 * all_data['Adj Close'])).astype(int)

    all_data.drop(columns=['High', 'SMA_10', 'SMA_20','Diff','+DM','-DM', 'prev_close', 'prev_high', 'prev_low','return','Low',
                           'Down','RSI_5','Open','Close','symbol','Difference','label','second','second_Difference'], inplace=True)
    all_data['Buy or Sell'] = np.array(all_data['Buy or Sell'], dtype=float)
    all_data['Buy or Sell2'] = np.array(all_data['Buy or Sell2'], dtype=float) 
    all_data.drop(all_data.head(5).index,inplace=True)

    df = all_data.copy()
    
    df.drop(df.tail(forecast_out2).index,inplace=True)
    clean_dataset(df)
    clean_dataset(all_data)
    all_data = all_data.dropna()
    df = df.dropna()
    df= df[df.applymap(np.isreal).any(1)]

    df = df[np.isfinite(df).all(1)]
    all_data=all_data[np.isfinite(all_data).all(1)]
    
    # Machine learning splitting/ training 
    y= df['Buy or Sell']
    y1= df['Buy or Sell2']

    X = df.drop(columns=['Buy or Sell', 'Buy or Sell2'])
    X_other = all_data.drop(columns=['Buy or Sell', 'Buy or Sell2'])

    # Splitting into Train and Test sets.
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
    X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y1, random_state=78)

    # Creating a StandardScaler instance.
    scaler = StandardScaler()
    # Fitting the Standard Scaler with the training data.
    X_scaler = scaler.fit(X_train)
    scaler2 = scaler.fit(X_other)
    X_scaler2 = scaler.fit(X_train2)

    # Scaling the data.
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    X_train_scaled2 = X_scaler2.transform(X_train2)
    X_test_scaled2 = X_scaler2.transform(X_test2)
    X_scaled = scaler2.transform(X_other)

    # Create a random forest classifier.
    rf_model = RandomForestClassifier(n_estimators=1000, random_state=78) 
    # Fitting the model
    rf_model = rf_model.fit(X_train_scaled, y_train)

    rf_model2 = RandomForestClassifier(n_estimators=1000, random_state=78) 
    rf_model2 = rf_model2.fit(X_train_scaled2, y_train2)

    # Making predictions using the testing data.
    predictions = rf_model.predict(X_test_scaled)
    predictions2 = rf_model.predict(X_test_scaled2)

    pred2=rf_model.predict(X_scaled)
    pred3 = rf_model2.predict(X_scaled)


    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, predictions)

    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

    cm_df

    # Calculating the confusion matrix 2
    cm2 = confusion_matrix(y_test2, predictions2)

    # Create a DataFrame from the confusion matrix.
    cm_df2 = pd.DataFrame(
        cm2, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

    cm_df2

    # Calculating the accuracy score.
    acc_score = accuracy_score(y_test, predictions)
    # Displaying results
    print("Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))

    # Calculating the accuracy score 2
    acc_score2 = accuracy_score(y_test2, predictions2)
    # Displaying results
    print("Confusion Matrix")
    display(cm_df2)
    print(f"Accuracy Score : {acc_score2}")
    print("Classification Report")
    print(classification_report(y_test2, predictions2))
    
    new= pd.DataFrame({"Date": X_other.index,"prediction 1": pred2})
    new2= pd.DataFrame({"Date": X_other.index,"prediction 2": pred3})
    mid=pd.merge(all_data, new, how='outer', on='Date')

    fuller=pd.merge(mid, new2, how='outer', on='Date')
    fuller['Results'] = fuller.apply(lambda x : 'yush!' if ((x['Buy or Sell'] == x['prediction 1'])) else 'nope', axis=1)
    fuller['Results 2'] = fuller.apply(lambda x : 'yush!' if ((x['Buy or Sell2'] == x['prediction 2'])) else 'nope', axis=1)

    forecast_out3 = forecast_out-1
    forecast_col = 'Adj Close'
    fuller['Tomorrow Higher Than'] = fuller[forecast_col].shift(forecast_out3)
    fuller['Supposed to have bought'] = fuller['Buy or Sell'].shift(forecast_out3)
    fuller['Based on prediction'] = fuller['prediction 1'].shift(forecast_out3)
    fuller.sort_values('Date').tail(60)

    forecast_out4 = forecast_out2-1
    fuller['Tomorrow Higher Than 2'] = fuller[forecast_col].shift(forecast_out4)
    fuller['Supposed to have bought 2'] = fuller['Buy or Sell2'].shift(forecast_out4)
    fuller['Based on prediction 2'] = fuller['prediction 2'].shift(forecast_out4)
    fuller.sort_values('Date').tail(60)    

    excel = fuller.tail(60)
    excel = excel[['Date','Volume','Adj Close','SMA_5','SMA_15','Buy or Sell','Buy or Sell2', 'prediction 1', 'Results','Tomorrow Higher Than', 'Supposed to have bought', 'Based on prediction','prediction 2', 'Results 2','Tomorrow Higher Than 2', 'Supposed to have bought 2', 'Based on prediction 2']]   

    path= r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\today.xlsx'
    wb = load_workbook(path)
    sheet_names = wb.get_sheet_names()
    name = sheet_names[0]
    sheet_ranges = wb[name]
    df = pd.DataFrame(sheet_ranges.values)

    df_other = df.tail(forecast_out2 + 1)
    df_other
    df_other.drop([17,18,19,20,21,22],axis=1,inplace=True)
    df_other = df_other.rename(columns=df_other.iloc[0])
    df_other.reset_index(drop=True,inplace=True)
    # df_other = df_other.iloc[1:]

    df_other.columns =['Date','Volume','Adj Close','SMA_5','SMA_15','Buy or Sell','Buy or Sell2', 'prediction 1', 'Results','Tomorrow Higher Than', 'Supposed to have bought', 'Based on prediction','prediction 2', 'Results 2','Tomorrow Higher Than 2', 'Supposed to have bought 2', 'Based on prediction 2']
    
    excel['PT'] = excel.apply(lambda x : x['Adj Close'] if ((x['prediction 1'] == 1)) else 'nope', axis=1)
    excel['PT2'] = excel.apply(lambda x : x['Adj Close'] if ((x['prediction 2'] == 1)) else 'nope', axis=1)

    df_new = excel.append(df_other)
    df_new.tail(60)
    

    from datetime import datetime
    df_new.to_excel( r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\spreadsheets\{fdate}.xlsx'.format(fdate = the_symbol + ' ' + datetime.now().strftime("%d-%m-%Y")),
                      sheet_name = 'today', index=False)

    symbols.append(the_symbol)
    
    j = j + 1

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          591          163
Actual 1           97          786

Accuracy Score : 0.8411728772144166
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.78      0.82       754
         1.0       0.83      0.89      0.86       883

    accuracy                           0.84      1637
   macro avg       0.84      0.84      0.84      1637
weighted avg       0.84      0.84      0.84      1637

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          592          148
Actual 1           96          801

Accuracy Score : 0.8509468540012217
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.80      0.83       740
         1.0       0.84      0.89      0.87       897

    accuracy                           0.85      1637
   macro avg       0.85      0.85      0.85      1637
weighted avg       0.85      0.85      0.85      1637

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          744          114
Actual 1          134          750

Accuracy Score : 0.8576349024110218
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.87      0.86       858
         1.0       0.87      0.85      0.86       884

    accuracy                           0.86      1742
   macro avg       0.86      0.86      0.86      1742
weighted avg       0.86      0.86      0.86      1742

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          748          103
Actual 1          130          761

Accuracy Score : 0.8662456946039035
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.88      0.87       851
         1.0       0.88      0.85      0.87       891

    accuracy                           0.87      1742
   macro avg       0.87      0.87      0.87      1742
weighted avg       0.87      0.87      0.87      1742

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          100           33
Actual 1           18          215

Accuracy Score : 0.860655737704918
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.75      0.80       133
         1.0       0.87      0.92      0.89       233

    accuracy                           0.86       366
   macro avg       0.86      0.84      0.85       366
weighted avg       0.86      0.86      0.86       366

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           94           23
Actual 1           24          225

Accuracy Score : 0.8715846994535519
Classification Report
              precision    recall  f1-score   support

         0.0       0.80      0.80      0.80       117
         1.0       0.91      0.90      0.91       249

    accuracy                           0.87       366
   macro avg       0.85      0.85      0.85       366
weighted avg       0.87      0.87      0.87       366

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          849          104
Actual 1          103          831

Accuracy Score : 0.890302066772655
Classification Report
              precision    recall  f1-score   support

         0.0       0.89      0.89      0.89       953
         1.0       0.89      0.89      0.89       934

    accuracy                           0.89      1887
   macro avg       0.89      0.89      0.89      1887
weighted avg       0.89      0.89      0.89      1887

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          823          123
Actual 1          129          812

Accuracy Score : 0.8664546899841018
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.87      0.87       946
         1.0       0.87      0.86      0.87       941

    accuracy                           0.87      1887
   macro avg       0.87      0.87      0.87      1887
weighted avg       0.87      0.87      0.87      1887

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          666          140
Actual 1          109          927

Accuracy Score : 0.8648208469055375
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.83      0.84       806
         1.0       0.87      0.89      0.88      1036

    accuracy                           0.86      1842
   macro avg       0.86      0.86      0.86      1842
weighted avg       0.86      0.86      0.86      1842

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          661          135
Actual 1          114          932

Accuracy Score : 0.8648208469055375
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.83      0.84       796
         1.0       0.87      0.89      0.88      1046

    accuracy                           0.86      1842
   macro avg       0.86      0.86      0.86      1842
weighted avg       0.86      0.86      0.86      1842

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          814           93
Actual 1          139          613

Accuracy Score : 0.8601567209162145
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.90      0.88       907
         1.0       0.87      0.82      0.84       752

    accuracy                           0.86      1659
   macro avg       0.86      0.86      0.86      1659
weighted avg       0.86      0.86      0.86      1659

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          800          110
Actual 1          153          596

Accuracy Score : 0.8414707655213984
Classification Report
              precision    recall  f1-score   support

         0.0       0.84      0.88      0.86       910
         1.0       0.84      0.80      0.82       749

    accuracy                           0.84      1659
   macro avg       0.84      0.84      0.84      1659
weighted avg       0.84      0.84      0.84      1659

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           35            7
Actual 1            8           46

Accuracy Score : 0.84375
Classification Report
              precision    recall  f1-score   support

         0.0       0.81      0.83      0.82        42
         1.0       0.87      0.85      0.86        54

    accuracy                           0.84        96
   macro avg       0.84      0.84      0.84        96
weighted avg       0.84      0.84      0.84        96

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           35           10
Actual 1            8           43

Accuracy Score : 0.8125
Classification Report
              precision    recall  f1-score   support

         0.0       0.81      0.78      0.80        45
         1.0       0.81      0.84      0.83        51

    accuracy                           0.81        96
   macro avg       0.81      0.81      0.81        96
weighted avg       0.81      0.81      0.81        96

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          520          108
Actual 1           75          597

Accuracy Score : 0.8592307692307692
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.83      0.85       628
         1.0       0.85      0.89      0.87       672

    accuracy                           0.86      1300
   macro avg       0.86      0.86      0.86      1300
weighted avg       0.86      0.86      0.86      1300

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          515           94
Actual 1           80          611

Accuracy Score : 0.8661538461538462
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.85      0.86       609
         1.0       0.87      0.88      0.88       691

    accuracy                           0.87      1300
   macro avg       0.87      0.86      0.87      1300
weighted avg       0.87      0.87      0.87      1300

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          762          116
Actual 1          117          871

Accuracy Score : 0.87513397642015
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.87      0.87       878
         1.0       0.88      0.88      0.88       988

    accuracy                           0.88      1866
   macro avg       0.87      0.87      0.87      1866
weighted avg       0.88      0.88      0.88      1866

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          763          115
Actual 1          116          872

Accuracy Score : 0.8762057877813505
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.87      0.87       878
         1.0       0.88      0.88      0.88       988

    accuracy                           0.88      1866
   macro avg       0.88      0.88      0.88      1866
weighted avg       0.88      0.88      0.88      1866

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          708          142
Actual 1           96          923

Accuracy Score : 0.8726591760299626
Classification Report
              precision    recall  f1-score   support

         0.0       0.88      0.83      0.86       850
         1.0       0.87      0.91      0.89      1019

    accuracy                           0.87      1869
   macro avg       0.87      0.87      0.87      1869
weighted avg       0.87      0.87      0.87      1869

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          704          137
Actual 1          100          928

Accuracy Score : 0.8731942215088283
Classification Report
              precision    recall  f1-score   support

         0.0       0.88      0.84      0.86       841
         1.0       0.87      0.90      0.89      1028

    accuracy                           0.87      1869
   macro avg       0.87      0.87      0.87      1869
weighted avg       0.87      0.87      0.87      1869

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          132           38
Actual 1           21          205

Accuracy Score : 0.851010101010101
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.78      0.82       170
         1.0       0.84      0.91      0.87       226

    accuracy                           0.85       396
   macro avg       0.85      0.84      0.85       396
weighted avg       0.85      0.85      0.85       396

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          129           41
Actual 1           24          202

Accuracy Score : 0.8358585858585859
Classification Report
              precision    recall  f1-score   support

         0.0       0.84      0.76      0.80       170
         1.0       0.83      0.89      0.86       226

    accuracy                           0.84       396
   macro avg       0.84      0.83      0.83       396
weighted avg       0.84      0.84      0.83       396

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          262           53
Actual 1           55          271

Accuracy Score : 0.8315132605304212
Classification Report
              precision    recall  f1-score   support

         0.0       0.83      0.83      0.83       315
         1.0       0.84      0.83      0.83       326

    accuracy                           0.83       641
   macro avg       0.83      0.83      0.83       641
weighted avg       0.83      0.83      0.83       641

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          260           59
Actual 1           57          265

Accuracy Score : 0.8190327613104524
Classification Report
              precision    recall  f1-score   support

         0.0       0.82      0.82      0.82       319
         1.0       0.82      0.82      0.82       322

    accuracy                           0.82       641
   macro avg       0.82      0.82      0.82       641
weighted avg       0.82      0.82      0.82       641

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          719          132
Actual 1          117          901

Accuracy Score : 0.8667736757624398
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.84      0.85       851
         1.0       0.87      0.89      0.88      1018

    accuracy                           0.87      1869
   macro avg       0.87      0.86      0.87      1869
weighted avg       0.87      0.87      0.87      1869

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          700          131
Actual 1          136          902

Accuracy Score : 0.8571428571428571
Classification Report
              precision    recall  f1-score   support

         0.0       0.84      0.84      0.84       831
         1.0       0.87      0.87      0.87      1038

    accuracy                           0.86      1869
   macro avg       0.86      0.86      0.86      1869
weighted avg       0.86      0.86      0.86      1869

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          606          134
Actual 1           82          776

Accuracy Score : 0.8648310387984981
Classification Report
              precision    recall  f1-score   support

         0.0       0.88      0.82      0.85       740
         1.0       0.85      0.90      0.88       858

    accuracy                           0.86      1598
   macro avg       0.87      0.86      0.86      1598
weighted avg       0.87      0.86      0.86      1598

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          598          129
Actual 1           90          781

Accuracy Score : 0.8629536921151439
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.82      0.85       727
         1.0       0.86      0.90      0.88       871

    accuracy                           0.86      1598
   macro avg       0.86      0.86      0.86      1598
weighted avg       0.86      0.86      0.86      1598

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          620          159
Actual 1           74          986

Accuracy Score : 0.8733007069059271
Classification Report
              precision    recall  f1-score   support

         0.0       0.89      0.80      0.84       779
         1.0       0.86      0.93      0.89      1060

    accuracy                           0.87      1839
   macro avg       0.88      0.86      0.87      1839
weighted avg       0.87      0.87      0.87      1839

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          600          170
Actual 1           94          975

Accuracy Score : 0.8564437194127243
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.78      0.82       770
         1.0       0.85      0.91      0.88      1069

    accuracy                           0.86      1839
   macro avg       0.86      0.85      0.85      1839
weighted avg       0.86      0.86      0.86      1839

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          729           78
Actual 1          119          559

Accuracy Score : 0.8673400673400673
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.90      0.88       807
         1.0       0.88      0.82      0.85       678

    accuracy                           0.87      1485
   macro avg       0.87      0.86      0.87      1485
weighted avg       0.87      0.87      0.87      1485

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          730           70
Actual 1          118          567

Accuracy Score : 0.8734006734006734
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.91      0.89       800
         1.0       0.89      0.83      0.86       685

    accuracy                           0.87      1485
   macro avg       0.88      0.87      0.87      1485
weighted avg       0.87      0.87      0.87      1485

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          667           88
Actual 1           96          619

Accuracy Score : 0.8748299319727891
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.88      0.88       755
         1.0       0.88      0.87      0.87       715

    accuracy                           0.87      1470
   macro avg       0.87      0.87      0.87      1470
weighted avg       0.87      0.87      0.87      1470

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          658           93
Actual 1          105          614

Accuracy Score : 0.8653061224489796
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.88      0.87       751
         1.0       0.87      0.85      0.86       719

    accuracy                           0.87      1470
   macro avg       0.87      0.87      0.87      1470
weighted avg       0.87      0.87      0.87      1470

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          438           58
Actual 1           69          344

Accuracy Score : 0.8602860286028603
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.88      0.87       496
         1.0       0.86      0.83      0.84       413

    accuracy                           0.86       909
   macro avg       0.86      0.86      0.86       909
weighted avg       0.86      0.86      0.86       909

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          434           46
Actual 1           73          356

Accuracy Score : 0.8690869086908691
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.90      0.88       480
         1.0       0.89      0.83      0.86       429

    accuracy                           0.87       909
   macro avg       0.87      0.87      0.87       909
weighted avg       0.87      0.87      0.87       909

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          771          119
Actual 1          121          867

Accuracy Score : 0.8722044728434505
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.87      0.87       890
         1.0       0.88      0.88      0.88       988

    accuracy                           0.87      1878
   macro avg       0.87      0.87      0.87      1878
weighted avg       0.87      0.87      0.87      1878

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          745          107
Actual 1          147          879

Accuracy Score : 0.8647497337593184
Classification Report
              precision    recall  f1-score   support

         0.0       0.84      0.87      0.85       852
         1.0       0.89      0.86      0.87      1026

    accuracy                           0.86      1878
   macro avg       0.86      0.87      0.86      1878
weighted avg       0.87      0.86      0.86      1878

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           43            6
Actual 1           12           41

Accuracy Score : 0.8235294117647058
Classification Report
              precision    recall  f1-score   support

         0.0       0.78      0.88      0.83        49
         1.0       0.87      0.77      0.82        53

    accuracy                           0.82       102
   macro avg       0.83      0.83      0.82       102
weighted avg       0.83      0.82      0.82       102

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           35            6
Actual 1           20           41

Accuracy Score : 0.7450980392156863
Classification Report
              precision    recall  f1-score   support

         0.0       0.64      0.85      0.73        41
         1.0       0.87      0.67      0.76        61

    accuracy                           0.75       102
   macro avg       0.75      0.76      0.74       102
weighted avg       0.78      0.75      0.75       102

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          531           77
Actual 1          107          511

Accuracy Score : 0.8499184339314845
Classification Report
              precision    recall  f1-score   support

         0.0       0.83      0.87      0.85       608
         1.0       0.87      0.83      0.85       618

    accuracy                           0.85      1226
   macro avg       0.85      0.85      0.85      1226
weighted avg       0.85      0.85      0.85      1226

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          526           92
Actual 1          112          496

Accuracy Score : 0.833605220228385
Classification Report
              precision    recall  f1-score   support

         0.0       0.82      0.85      0.84       618
         1.0       0.84      0.82      0.83       608

    accuracy                           0.83      1226
   macro avg       0.83      0.83      0.83      1226
weighted avg       0.83      0.83      0.83      1226

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          602           96
Actual 1           94          516

Accuracy Score : 0.8547400611620795
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.86      0.86       698
         1.0       0.84      0.85      0.84       610

    accuracy                           0.85      1308
   macro avg       0.85      0.85      0.85      1308
weighted avg       0.85      0.85      0.85      1308

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          602           84
Actual 1           94          528

Accuracy Score : 0.863914373088685
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.88      0.87       686
         1.0       0.86      0.85      0.86       622

    accuracy                           0.86      1308
   macro avg       0.86      0.86      0.86      1308
weighted avg       0.86      0.86      0.86      1308

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          295           36
Actual 1           62          183

Accuracy Score : 0.8298611111111112
Classification Report
              precision    recall  f1-score   support

         0.0       0.83      0.89      0.86       331
         1.0       0.84      0.75      0.79       245

    accuracy                           0.83       576
   macro avg       0.83      0.82      0.82       576
weighted avg       0.83      0.83      0.83       576

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          304           27
Actual 1           53          192

Accuracy Score : 0.8611111111111112
Classification Report
              precision    recall  f1-score   support

         0.0       0.85      0.92      0.88       331
         1.0       0.88      0.78      0.83       245

    accuracy                           0.86       576
   macro avg       0.86      0.85      0.86       576
weighted avg       0.86      0.86      0.86       576

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          227           11
Actual 1           35          135

Accuracy Score : 0.8872549019607843
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.95      0.91       238
         1.0       0.92      0.79      0.85       170

    accuracy                           0.89       408
   macro avg       0.90      0.87      0.88       408
weighted avg       0.89      0.89      0.89       408

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          225           13
Actual 1           37          133

Accuracy Score : 0.8774509803921569
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.95      0.90       238
         1.0       0.91      0.78      0.84       170

    accuracy                           0.88       408
   macro avg       0.88      0.86      0.87       408
weighted avg       0.88      0.88      0.88       408

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          281           33
Actual 1           67          203

Accuracy Score : 0.8287671232876712
Classification Report
              precision    recall  f1-score   support

         0.0       0.81      0.89      0.85       314
         1.0       0.86      0.75      0.80       270

    accuracy                           0.83       584
   macro avg       0.83      0.82      0.83       584
weighted avg       0.83      0.83      0.83       584

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          283           32
Actual 1           65          204

Accuracy Score : 0.833904109589041
Classification Report
              precision    recall  f1-score   support

         0.0       0.81      0.90      0.85       315
         1.0       0.86      0.76      0.81       269

    accuracy                           0.83       584
   macro avg       0.84      0.83      0.83       584
weighted avg       0.84      0.83      0.83       584

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          719          140
Actual 1          108          909

Accuracy Score : 0.8678038379530917
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.84      0.85       859
         1.0       0.87      0.89      0.88      1017

    accuracy                           0.87      1876
   macro avg       0.87      0.87      0.87      1876
weighted avg       0.87      0.87      0.87      1876

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          711          149
Actual 1          116          900

Accuracy Score : 0.8587420042643923
Classification Report
              precision    recall  f1-score   support

         0.0       0.86      0.83      0.84       860
         1.0       0.86      0.89      0.87      1016

    accuracy                           0.86      1876
   macro avg       0.86      0.86      0.86      1876
weighted avg       0.86      0.86      0.86      1876

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           27            3
Actual 1            1           32

Accuracy Score : 0.9365079365079365
Classification Report
              precision    recall  f1-score   support

         0.0       0.96      0.90      0.93        30
         1.0       0.91      0.97      0.94        33

    accuracy                           0.94        63
   macro avg       0.94      0.93      0.94        63
weighted avg       0.94      0.94      0.94        63

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           27            2
Actual 1            1           33

Accuracy Score : 0.9523809523809523
Classification Report
              precision    recall  f1-score   support

         0.0       0.96      0.93      0.95        29
         1.0       0.94      0.97      0.96        34

    accuracy                           0.95        63
   macro avg       0.95      0.95      0.95        63
weighted avg       0.95      0.95      0.95        63

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          368           25
Actual 1           57          187

Accuracy Score : 0.8712715855572999
Classification Report
              precision    recall  f1-score   support

         0.0       0.87      0.94      0.90       393
         1.0       0.88      0.77      0.82       244

    accuracy                           0.87       637
   macro avg       0.87      0.85      0.86       637
weighted avg       0.87      0.87      0.87       637

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          356           26
Actual 1           69          186

Accuracy Score : 0.8508634222919937
Classification Report
              precision    recall  f1-score   support

         0.0       0.84      0.93      0.88       382
         1.0       0.88      0.73      0.80       255

    accuracy                           0.85       637
   macro avg       0.86      0.83      0.84       637
weighted avg       0.85      0.85      0.85       637

C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:215: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
C:\Users\amoog\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
#extracting Yahoo Finance API

summary = pd.DataFrame()
others = pd.DataFrame()
no_data = []

for i in tickers:
    try:
        others = pdr.get_data_yahoo(i, start = dt.datetime(2021,1,25), end = dt.date.today())
        others['Ticker'] = i
        summary = summary.append(others)
    except:
        no_data.append(i)

# Merging and cleaning
summary = summary.drop(columns = ['Volume', 'Close'])
summary.drop_duplicates(inplace=True)
summary = pd.merge(summary, df2)
# summary.drop([18,15,5,20], inplace=True)
summary

,High,Low,Open,Adj Close,Ticker,Strong Support,Soft Support,Soft Resistance,Hard Resistance,Info
0,47.730000,30.309999,34.840000,30.680000,BBBY,24.75,30.68,53.66,59.59,BBBY My main watch this one could squeeze nice...
1,33.380001,28.780001,30.190001,31.250000,BBBY,24.75,30.68,53.66,59.59,BBBY My main watch this one could squeeze nice...
2,56.500000,54.060001,56.380001,55.439999,INTC,54.17,55.44,57.77,59.05,INTC if this can bounce of the 4949.30s an bre...
3,56.200001,54.849998,55.275002,55.290001,INTC,54.17,55.44,57.77,59.05,INTC if this can bounce of the 4949.30s an bre...
4,4.650000,4.420000,4.640000,4.490000,GGB,4.39,4.49,4.75,4.85,GGB a cheap play that could explode if It brea...
5,4.665000,4.530000,4.640000,4.549900,GGB,4.39,4.49,4.75,4.85,GGB a cheap play that could explode if It brea...
6,146.250000,144.270004,145.360001,146.199997,WMT,144.90,146.20,147.55,148.86,WMT (watch at the open) looking for Walmart f...
7,147.570007,145.470001,145.630005,147.530396,WMT,144.90,146.20,147.55,148.86,WMT (watch at the open) looking for Walmart f...
8,17.820000,16.809999,17.570000,17.270000,IGT,16.78,17.27,18.31,18.80,IGT looking for that retracement on the dip t...
9,17.780001,16.761000,17.500000,16.850000,IGT,16.78,17.27,18.31,18.80,IGT looking for that retracement on the dip t...
10,25.768999,23.299999,23.620001,24.709999,WKHS,23.42,24.71,27.06,28.36,WKHS I would like to see this pull back from t...
11,32.500000,26.510000,27.040001,31.804701,WKHS,23.42,24.71,27.06,28.36,WKHS I would like to see this pull back from t...
12,87.690002,84.099998,84.120003,86.870003,NEE,84.75,86.87,89.81,91.93,NEE Could be the next rapper play. Watch this ...
13,87.250000,84.870003,86.650002,85.214996,NEE,84.75,86.87,89.81,91.93,NEE Could be the next rapper play. Watch this ...
14,6.600000,5.300000,5.650000,6.440000,FTEK,5.63,6.44,7.41,8.23,FTEK Looking for a dip around the 5.05.30s and...
15,6.650000,5.840000,6.570000,5.900000,FTEK,5.63,6.44,7.41,8.23,FTEK Looking for a dip around the 5.05.30s and...
16,4.470000,3.460000,3.630000,3.940000,WATT,3.44,3.94,4.97,5.46,WATT nice cup and handle potentially forming. ...
17,4.150000,3.850000,4.080000,3.885000,WATT,3.44,3.94,4.97,5.46,WATT nice cup and handle potentially forming. ...
18,9.070000,8.350000,9.000000,8.620000,VERU,8.29,8.62,9.40,9.73,VERU interesting pattern and gapped up a lot. ...
19,8.760000,8.450000,8.750000,8.560000,VERU,8.29,8.62,9.40,9.73,VERU interesting pattern and gapped up a lot. ...
20,193.110001,189.229996,191.559998,190.149994,TGT,188.55,190.15,194.71,196.31,TGT looking for that dip around 188.6 189.12 ...
21,190.554993,186.669998,190.110001,187.514999,TGT,188.55,190.15,194.71,196.31,TGT looking for that dip around 188.6 189.12 ...
22,37.029999,33.349998,33.500000,34.570000,KR,32.94,34.57,38.66,40.30,KR Im liking the chart pattern as Kroger has b...
23,36.579899,34.419998,34.509998,35.735001,KR,32.94,34.57,38.66,40.30,KR Im liking the chart pattern as Kroger has b...
24,10.610000,10.000000,10.550000,10.200000,UMC,9.93,10.20,10.88,11.15,UMC Im liking this for a long term hold in sh...
25,10.080000,9.810000,10.070000,9.970000,UMC,9.93,10.20,10.88,11.15,UMC Im liking this for a long term hold in sh...
26,48.250000,46.900002,47.610001,48.130001,FAST,47.27,48.13,49.10,49.96,FAST Has been trading above that $50 psycholo...
27,48.561901,47.575001,48.430000,47.630001,FAST,47.27,48.13,49.10,49.96,FAST Has been trading above that $50 psycholo...
28,18.840000,14.800000,14.850000,17.240000,MAC,15.08,17.24,21.00,23.16,MAC Looking to have a golden cross on the dail...
29,18.240000,17.120001,17.510000,17.440001,MAC,15.08,17.24,21.00,23.16,MAC Looking to have a golden cross on the dail...
30,101.680000,96.230003,99.300003,98.379997,JD,95.85,98.38,104.21,106.75,JD potential day trade and maybe a swing for ...
31,99.300003,96.290001,99.019997,97.070000,JD,95.85,98.38,104.21,106.75,JD potential day trade and maybe a swing for ...
32,54.990002,42.959999,48.400002,47.330002,SPWR,41.86,47.33,60.46,65.92,SPWR cup and handle play for a potential dip ...
33,49.820000,46.189999,47.910000,48.830002,SPWR,41.86,47.33,60.46,65.92,SPWR cup and handle play for a potential dip ...
34,11.520000,10.880000,11.490000,11.290000,F,10.94,11.29,11.87,12.22,F $10 psychological barrier but I believe thi...
35,11.530000,11.120000,11.310000,11.147800,F,10.94,11.29,11.87,12.22,F $10 psychological barrier but I believe thi...
36,20.920000,18.900000,20.480000,19.959999,XL,18.93,19.96,21.95,22.97,XL looking for that dip to 20.1420.50s for a p...
37,22.400000,20.516800,20.580000,21.754999,XL,18.93,19.96,21.95,22.97,XL looking for that dip to 20.1420.50s for a p...
38,44.779999,36.099998,40.320000,40.980000,FUBO,36.46,40.98,49.30,53.82,FUBO I’m liking the cup and handle forming on...
39,43.000000,38.630001,41.930000,39.700001,FUBO,36.46,40.98,49.30,53.82,FUBO I’m liking the cup and handle forming on...
40,2.180000,1.850000,1.920000,1.960000,XSPA,1.8133,1.9600,2.3267,2.4733,XSPA Looking for a long term swing probably a ...
41,2.089600,1.890000,2.080000,1.970000,XSPA,1.8133,1.9600,2.3267,2.4733,XSPA Looking for a long term swing probably a ...

In [32]:
summary3= pd.DataFrame()
for i in symbols:
    path2 = r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\spreadsheets\{fdate}.xlsx'.format(fdate = i + ' ' + datetime.now().strftime("%d-%m-%Y"))
    df4 = df_from_excel(path2)
    df4 = df4.tail(forecast_out+1)
    df4 = df4.rename(columns=df4.iloc[0])
    df4.reset_index(drop=True,inplace=True)
    df4.drop([0], inplace=True)
    df4 = df4[['support 1', 'support 2', 'resistance 1', 'resistance 2']]
    df4 = df4.tail(1)
    df4['Ticker'] = i
    summary2 = pd.merge(summary,df4, on = 'Ticker')
    summary3 = summary3.append(summary2)

In [33]:
summary3 = summary3[['Ticker','High', 'Low', 'Open', 'Adj Close', 'Strong Support',
       'Soft Support', 'Soft Resistance', 'Hard Resistance','support 1', 'support 2', 'resistance 1', 'resistance 2', 'Info']]
summary4 = summary3[summary3.index == 0]

In [34]:
summary4.head(5)

,Ticker,High,Low,Open,Adj Close,Strong Support,Soft Support,Soft Resistance,Hard Resistance,support 1,support 2,resistance 1,resistance 2,Info
0,BBBY,47.730000,30.309999,34.840000,30.680000,24.75,30.68,53.66,59.59,18.73,18.94,32.88,32.88,BBBY My main watch this one could squeeze nice...
0,F,11.520000,10.880000,11.490000,11.290000,10.94,11.29,11.87,12.22,9,9,11.28,11.28,F $10 psychological barrier but I believe thi...
0,FAST,48.250000,46.900002,47.610001,48.130001,47.27,48.13,49.10,49.96,47.98,47.98,48.7,50.75,FAST Has been trading above that $50 psycholo...
0,FTEK,6.600000,5.300000,5.650000,6.440000,5.63,6.44,7.41,8.23,6,5.5,0,6,FTEK Looking for a dip around the 5.05.30s and...
0,FUBO,44.779999,36.099998,40.320000,40.980000,36.46,40.98,49.30,53.82,35.5,37.72,40.56,40.56,FUBO I’m liking the cup and handle forming on...

In [35]:
summary4.to_excel( r'C:\Users\amoog\Desktop\ML_Stocks\ML_Stocks_Repo\spreadsheets\{fdate}.xlsx'.format(fdate = 'Summary ' + datetime.now().strftime("%d-%m-%Y")),
                      sheet_name = 'today', index=False)